﻿@model MVC.Models.mvcNhanVienModel
@{
    ViewData["Title"] = "AddOrEdit";
}
<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.TEN)
            @Html.EditorFor(model => model.TEN)
            @Html.ValidationMessageFor(model => model.TEN)

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PHONGBAN_ID)
            @Html.EditorFor(model => model.PHONGBAN_ID)
            @Html.ValidationMessageFor(model => model.PHONGBAN_ID)

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.QUANLY_ID)
            @Html.EditorFor(model => model.QUANLY_ID)
            @Html.ValidationMessageFor(model => model.QUANLY_ID)

        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn button" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    }

</div>
