﻿@model IEnumerable<MVC.Models.mvcNhanVienModel>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a href="@Url.Action("AddOrEdit","NhanVien")" class="btn btn-default">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHONGBAN_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QUANLY_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHONGBAN_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QUANLY_ID)
            </td>
            <td>
               <a href="@Url.Action("AddOrEdit","NhanVien",new { id = item.ID})" class="btn btn-default">Edit</a>
               <a href="@Url.Action("Delete","NhanVien",new { id = item.ID})" class="btn btn-default">DELETE</a>
            </td>
        </tr>
}
    </tbody>
</table>

